.textarea {
    width: 80%;
    font-size: 4vh;
    font-family: Impact , sans-serif;
    color: white;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px black;
}

.dark {
    width: 80%;
    font-size: 4vh;
    font-family: Impact , sans-serif;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px white;
}